<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="public">
    <title>About</title>
    <link rel="icon" href="/img/weather_icon.png">
    <link rel="stylesheet" href="/Css/Styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Gangadhar Kadam. It integrates two API's each from mapbox.com and forecast.com.</p>

<img class="potrait" src="/img/Gangadhar_photo.jpg">

    </div>


{{>footer}}
</body>





</html>