<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon"href="./img/weather_icon.png">
    <link rel="stylesheet" href="./Css/Styles.css">
</head>
<body>
    <div class="main-content">
       
 {{>header}}
  <p>We are here to help you!</p>
    </div>
   {{>footer}}
</body>



</html>