<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Cache-control" content="public">
    <title>Help</title>
    <link rel="icon"href="/img/weather_icon.png">
    <link rel="stylesheet" href="/Css/Styles.css">
</head>
<body>
    <div class="main-content">
       
 {{>header}}
  <p>We are here to help you!</p>
    </div>
   {{>footer}}
</body>



</html>